.clear{
  clear: both;
}
* {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.site{
  font-family: "Tahoma";
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.header .logo{
  margin-left:60px;
  margin-top: 20px;
  float: left;
}
.header .navigasyon{
  float: right;
}
.header .navigasyon li{
  float: left;
}
.header .navigasyon li a{
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  display:inline-block;
  padding:100px 10px 10px;
  color: black;
}
.header .navigasyon li a:hover{
  background-color: lightblue;
  color: white;
}
.content .banner img{
  max-width: 100%;
}
.content{
  margin-top: 30px;
}
.content .content-list{
  margin-top: 30px;
}
.content .content-list .item{
  float: left;
  width: 320px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  background-color: lightgray;
  margin-left: 20px;
  border: 1px solid gray;
}
.content .content-list .item:first-child{
  margin-left: 0;
}
.content .news{
  margin-top: 30px;
  width: 320px;
  float: left;
}
.content .news .news-item {
  margin-top: 10px;
}
.content .news .news-item img{
  float: left;
  width: 100px;
  height: 100px;
  padding: 1px;
  border: 1px solid gray;
}
.content .news .news-item .text{
  width: 210px;
  margin-left: 10px;
  float: left;
}
.content .news .news-item .text p{
  margin-top: 5px;
}
.content .news .news-item .text p.text-title{
  font-size: 12px;
  margin-top: 0px;
}
.content .news .news-title{
  font-weight: 700;
  font-size: 16px;
}
.content .news .news-item .text p.description{
  font-size: 14px;
}
.content .news .news-item .text p.date{
  font-weight: 700;
  font-size: 11px;
}
.content .home {
  margin-top: 30px;
  width: 660px;
  margin-left: 20px;
  float: left;
}
.content .home .home-title{
  font-weight: 700;
}
.content .home .home-text{
margin-top: 20px;
}
.content .home .home-text p{
  line-height: 20px;
  font-size: 15px;
  color: black;
}
.footer{
  background-color: gray;
  width:1000;
  padding: 10px;
}
.footer p{
  padding-top: 10px;
  color: purple;
}
